nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  /* margin-top: 50px; */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}



#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: #08496f;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #08496f;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}
#mobile i {
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -310px;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s;
  }
  nav{
    width: 100%;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #ed7b01;
    font-size: 24px;
    cursor: pointer;
    padding-left: 20px;
  }
 
}
/* .Navbarmnav {
  z-index: 99999999;
} */
