.Textbackground {
    background-color: #F2F2F2;
    height: 230px;
    width: 98%;
    margin: 20px;
    /* border-radius: 50px; */
}

.text {
    font: 48px/1.5 'Raleway', sans-serif;
    color: rgb(18, 34, 46);
    letter-spacing: 0em;
    padding-left: 50px;
    padding-top: 50px;
}
.button{
    background-color: #B45C3D;
    padding: 8px 30px 8px 30px;
    border-radius: 10px;
    border: #B45C3D solid 1px;
    margin-left: 60px;
    margin-top: 20px;
    color: white;
}
.button:hover {
    background-color: white;
    color: #B45C3D;
    transition: background-color 0.4s ease-out, color 0.4s ease-out, transform 0.4s ease-in-out;
    
}


@media screen and (max-width: 1024px) {
    .text {
        font: 48px/1.5 'Raleway', sans-serif;
        color: rgb(18, 34, 46);
        letter-spacing: 0em;
        padding-left: 50px;
        padding-top: 50px;
    }

    .button {
        background-color: #B45C3D;
        padding: 8px 30px 8px 30px;
        border-radius: 10px;
        border: #B45C3D solid 1px;
        margin-left: 60px;
        margin-top: 20px;
        color: white;
    }   
    .Textbackground{
        height: 200px;
        width: 95%;

    }
    
}
@media screen and (max-width: 768px) {
    
    .text {
        font: 38px/1.5 'Raleway', sans-serif;
        color: rgb(18, 34, 46);
        letter-spacing: 0em;
        padding-left: 50px;
        padding-top: 50px;


    }

    .button {
        background-color: #B45C3D;
        padding: 8px 30px 8px 30px;
        border-radius: 10px;
        border: #B45C3D solid 1px;
        margin-left: 50px;
        margin-top: 10px;
        color: white;

    }

    .Textbackground {
        height: 230px;
        width: 92%;

    }
}